In [29]:
import tabletools as tt
candy_table = tt.read_csv('candy-data.csv')
print(candy_table.tail(4))

                    competitorname                     chocolate                        fruity                       caramel                peanutyalmondy                        nougat              crispedricewafer                          hard                           bar                      pluribus                  sugarpercent                  pricepercent                    winpercent
  81                      Warheads                      0.000000                      1.000000                      0.000000                      0.000000                      0.000000                      0.000000                      1.000000                      0.000000                      0.000000                      0.093000                      0.116000                     39.011898
  82         WelchÃ•s Fruit Snacks                      0.000000                      1.000000                      0.000000                      0.000000                      0.000000                      0.000000                      0.000000                      0.000000                      1.000000                      0.313000                      0.313000                     44.375519
  83   WertherÃ•s Original Caramel                      0.000000                      0.000000                      1.000000                      0.000000                      0.000000                      0.000000                      1.000000                      0.000000                      0.000000                      0.186000                      0.267000                     41.904308
  84                      Whoppers                      1.000000                      0.000000                      0.000000                      0.000000                      0.000000                      1.000000                      0.000000                      0.000000                      1.000000                      0.872000                      0.848000                     49.524113

In [30]:
table = candy_table[candy_table['chocolate'] == 1.0]['competitorname', 'chocolate', 'peanutyalmondy', 'winpercent']
print(table)

                    competitorname                     chocolate                peanutyalmondy                    winpercent
   0                     100 Grand                      1.000000                      0.000000                     66.971725
   1                  3 Musketeers                      1.000000                      0.000000                     67.602936
   2                    Almond Joy                      1.000000                      1.000000                     50.347546
   3                     Baby Ruth                      1.000000                      1.000000                     56.914547
   4               Charleston Chew                      1.000000                      0.000000                     38.975037
   5             HersheyÃ•s Kisses                      1.000000                      0.000000                     55.375454
   6            HersheyÃ•s Krackel                      1.000000                      0.000000                     62.284481
   7     HersheyÃ•s Milk Chocolate                      1.000000                      0.000000                     56.490501
   8       HersheyÃ•s Special Dark                      1.000000                      0.000000                     59.236122
   9                  Junior Mints                      1.000000                      0.000000                     57.219250
  10                       Kit Kat                      1.000000                      0.000000                     76.768600
  11          Peanut butter M&MÃ•s                      1.000000                      1.000000                     71.465050
  12                        M&MÃ•s                      1.000000                      0.000000                     66.574585
  13                     Milk Duds                      1.000000                      0.000000                     55.064072
  14                     Milky Way                      1.000000                      0.000000                     73.099556
  15            Milky Way Midnight                      1.000000                      0.000000                     60.800701
  16      Milky Way Simply Caramel                      1.000000                      0.000000                     64.353340
  17                        Mounds                      1.000000                      0.000000                     47.829754
  18                   Mr Good Bar                      1.000000                      1.000000                     54.526451
  19           Nestle Butterfinger                      1.000000                      1.000000                     70.735641
  20                 Nestle Crunch                      1.000000                      0.000000                     66.470680
  21                   Peanut M&Ms                      1.000000                      1.000000                     69.483788
  22           ReeseÃ•s Miniatures                      1.000000                      1.000000                     81.866257
  23    ReeseÃ•s Peanut Butter cup                      1.000000                      1.000000                     84.180290
  24               ReeseÃ•s pieces                      1.000000                      1.000000                     73.434990
  25  ReeseÃ•s stuffed with pieces                      1.000000                      1.000000                     72.887901
  26                          Rolo                      1.000000                      0.000000                     65.716286
  27                       Sixlets                      1.000000                      0.000000                     34.722000
  28               Nestle Smarties                      1.000000                      0.000000                     37.887188
  29                      Snickers                      1.000000                      1.000000                     76.673782
  30              Snickers Crisper                      1.000000                      1.000000                     59.529251
  31                   Tootsie Pop                      1.000000                      0.000000                     48.982651
  32          Tootsie Roll Juniors                      1.000000                      0.000000                     43.068897
  33          Tootsie Roll Midgies                      1.000000                      0.000000                     45.736748
  34       Tootsie Roll Snack Bars                      1.000000                      0.000000                     49.653503
  35                          Twix                      1.000000                      0.000000                     81.642914
  36                      Whoppers                      1.000000                      0.000000                     49.524113

In [31]:
isPeanutyAlmondy = [ True if x==1.0 else False for x in table['peanutyalmondy'] ] 
table = table[isPeanutyAlmondy]
print(table)

                    competitorname                     chocolate                peanutyalmondy                    winpercent
   2                    Almond Joy                      1.000000                      1.000000                     50.347546
   3                     Baby Ruth                      1.000000                      1.000000                     56.914547
  11          Peanut butter M&MÃ•s                      1.000000                      1.000000                     71.465050
  18                   Mr Good Bar                      1.000000                      1.000000                     54.526451
  19           Nestle Butterfinger                      1.000000                      1.000000                     70.735641
  21                   Peanut M&Ms                      1.000000                      1.000000                     69.483788
  22           ReeseÃ•s Miniatures                      1.000000                      1.000000                     81.866257
  23    ReeseÃ•s Peanut Butter cup                      1.000000                      1.000000                     84.180290
  24               ReeseÃ•s pieces                      1.000000                      1.000000                     73.434990
  25  ReeseÃ•s stuffed with pieces                      1.000000                      1.000000                     72.887901
  29                      Snickers                      1.000000                      1.000000                     76.673782
  30              Snickers Crisper                      1.000000                      1.000000                     59.529251

In [32]:
lost = [ True if x<.50 else False for x in table['winpercent'] ]
print(table[lost])

                    competitorname                     chocolate                peanutyalmondy                    winpercent

In [33]:
f = lambda string: True if string[:5]=="Reese" else False
reese = [f(x) for x in table['competitorname'] ]
print(table[reese])

                    competitorname                     chocolate                peanutyalmondy                    winpercent
  22           ReeseÃ•s Miniatures                      1.000000                      1.000000                     81.866257
  23    ReeseÃ•s Peanut Butter cup                      1.000000                      1.000000                     84.180290
  24               ReeseÃ•s pieces                      1.000000                      1.000000                     73.434990
  25  ReeseÃ•s stuffed with pieces                      1.000000                      1.000000                     72.887901

In [35]:
f = lambda string: True if len(string)<10 else False
lessThan10 = [ f(x) for x in table['competitorname'] ]
print(table[lessThan10])

                    competitorname                     chocolate                peanutyalmondy                    winpercent
   3                     Baby Ruth                      1.000000                      1.000000                     56.914547
  29                      Snickers                      1.000000                      1.000000                     76.673782

In [38]:
import numpy as np
animals = np.array([['ant','bat','cat'], ['dog', 'elk', 'fox'], ['gnu', 'hen', 'ibis']])
animals[1:2, 1:]

array([['elk', 'fox']],
      dtype='<U4')